* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* ========================================== common css end ================================================= */

/* ============================================================
                navbar part start 
=============================================================== */
#navbar-part {
    width: 100%;
    padding: 10px 0;
    background: rgba(255, 143, 14, 0.173);

}

#navbar-part .container {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navbar-part .container ul li {
    display: inline-block;
    margin-right: 20px;
}


#navbar-part .container .logo h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

#navbar-part .container ul li a {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    transition: .4s;
}

#navbar-part .container ul li a:hover {
    color: #FF900E;
}

/* ====================================== mobile responsive ================================== */

@media only screen and (max-width:688px) {

    #navbar-part .container {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    #navbar-part .container .text ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    

    }

}

/* ====================================== mobile responsive ================================== */

/* ====================================== tablet responsive =================================== */
@media only screen and (min-width:689px) and (max-width:992px) {

    #navbar-part .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }

}

/* ====================================== tablet responsive =================================== */
/* ============================================================
                navbar part end 
=============================================================== */

/* =============================================================
                banner part start 
================================================================ */
#banner-part {
    width: 100%;
    padding: 50px 0;
    background: rgba(255, 143, 14, 0.173);
}

#banner-part .container {
    padding: 0 25px;

}

#banner-part .text h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    text-align: center;
    padding-top: 100px;
}

#banner-part .text p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    padding: 0 200px;
    text-align: center;
    padding-top: 30px;
}

#banner-part .text .btn {
    display: flex;
    justify-content: center;
    padding: 30px 0;

}

#banner-part .text .btn a:hover {
    color: #FF900E;
    background-color: #ff8f0e5b;

}


#banner-part .text .btn a {
    display: inline-block;
    padding: 20px 25px;
    background-color: #FF900E;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
    transition: .4s;
}

#banner-part .banner-img img {
    width: 100%;

}

/* =================================================================== mobile device ================================================ */
@media only screen and (max-width:688px) {

    #banner-part .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #banner-part .text p {

        padding: 0px;

    }

}

/* =================================================================== mobile device ================================================ */

/* ==================================================== tablet device ============================================================== */
@media only screen and (min-width:689px) and (max-width:992px) {
    #banner-part .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #banner-part .banner-img img {
        width: 100%;


    }


}

/* ==================================================== tablet device ============================================================== */

/* =============================================================
                banner part end 
================================================================ */


/* =============================================================
                feature part start 
================================================================ */

#feature-part {
    padding: 50px 0;
}


#feature-part .container {
    padding: 0 25px;
    display: flex;
    gap: 50px;

}

#feature-part .feature-img {
    width: 50%;

}

#feature-part .feature-img img {
    width: 100%;

}

#feature-part .feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

#feature-part .feature-text {
    width: 50%;
    padding-top: 150px;
}

#feature-part .feature-text h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: #727272;
}

#feature-part .feature-text h1 span {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

#feature-part .feature-text h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #FF900E;
}

#feature-part .feature-text p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 32px;
}

#feature-part .feature-text .btn a {
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    padding: 20px 24px;
    background-color: #FF900E;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: .4s;
}

#feature-part .feature-text .btn a:hover {
    color: #FF900E;
    background-color: #ff8f0e5b;
}


/* ===================================================== mobile responsive ================================================ */
@media only screen and (max-width:688px) {



    #feature-part .container {
        width: 100%;
        flex-direction: column;
        flex-direction: column-reverse;

    }

    #feature-part .feature-img {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
    }

    #feature-part .feature-img img {
        width: 100%;
    }



    #feature-part .feature-text {
        padding-top: 50px;
        width: 100%;
        text-align: center;
    }



}

/* ===================================================== mobile responsive ================================================ */


/* =============================================== tab device ============================================== */


@media only screen and (min-width:689px) and (max-width:992px) {



    #feature-part .feature-img {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }

    #feature-part .container {
        width: 100%;
        flex-direction: column;


    }


}


/* =============================================== tab device ============================================== */


/* =============================================================
                feature part end
================================================================ */


/* =============================================================
                skill part css start 
================================================================ */
#skill-part {

    padding: 20px 0;

}

#skill-part .container {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}


#skill-part .container .left {
    width: 50%;

}

#skill-part .container .right {
    width: 50;
    position: relative;



}


#skill-part .container .skill-title h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    position: relative;
}

#skill-part .container .skill-title h1::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 90px;
    background-color: #FF900E;
    top: 10px;
    left: -14px;
    border-radius: 5px;
}

#skill-part .container .skill-title p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    padding-top: 24px;
    padding-bottom: 30px;
    
}

#skill-part .container .skill-details .skill-item {
    width: 400px; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(218, 205, 205);
    margin: 10px 0;
}

#skill-part .container .skill-details .skill-item h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #131313;

}

#skill-part .container .skill-details .skill-item h6 {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;

}

#skill-part .container .skill-img img {
    width: 100%;
    height: 100%;

}



#skill-part .container .counter a {
     width: 342px;
    padding: 40px;
    display: inline-block;
    background-color: #FF900E;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    transition: .4s;

}

#skill-part .container .counter a span{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #ffff;
    transition: .4s;
}

#skill-part .container .counter a:hover span{
    color: #FF900E;
}


#skill-part .container .counter {
    position: absolute;
    bottom: -80px;
    left: -100px;
    
}

#skill-part .container .counter a:hover{
    background-color: #ff8f0e5b;
    color: #FF900E;
}




/* ============================================================ mobile device ====================================== */
@media only screen and (max-width:688px) {

    #skill-part .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #skill-part .container .counter {
        bottom: -50px;
        left: 0px;
    }




    #skill-part .container .skill-details .skill-item {
        width: 100%;
    }






}




/* ============================================================ mobile device ====================================== */


/* ==================================================== tab device ======================================== */
@media only screen and (min-width:689px) and (max-width:992px) {

    #skill-part .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #skill-part .container .skill-img {
        width: 100%;
        height: 100%;
    
    }



    #skill-part .container .skill-details .skill-item {
        width: 100%;
    }




    #skill-part .container .counter {
        bottom: -40px;
        left: 0px;
    }



    
}

/* ==================================================== tab device ======================================== */



/* =============================================================
                skill part css end 
================================================================ */

/* =============================================================
                fact part start 
================================================================ */
#fact-part {
    padding: 20px 0;
}

#fact-part .container{
    padding: 0 25px;
}

#fact-part .fact-title{
    margin-top: 100px;
}

#fact-part .fact-title h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

#fact-part .fact-title p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    padding-top: 24px;
}

/* ================================================ mobile device ================================= */

@media only screen and (max-width:688px)  {
    #fact-part .container{
        width: 100%;
    }


    #fact-part .fact-title h1{
        text-align: center;
    }

    #fact-part .fact-title p{
        text-align: center;
    }
    
}

/* ================================================ mobile device ================================= */

/* ================================================ tablet device ================================ */

@media only screen and (min-width:688px) and (max-width:992px) {

    #fact-part .container{
        width: 100%;
    }

    #fact-part .fact-title h1{
        text-align: center;
    }

    #fact-part .fact-title p{
        text-align: center;
    }
    
}
/* ================================================ tablet device ================================ */

/* =============================================================
                fact part end
================================================================ */

/* =============================================================
                award part start 
================================================================ */
#award {
    padding: 20px 0;

}

#award .container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

#award .award-item{
    width: 20%;
    height: 200px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: .4s;
}

#award .award-item:hover{

    border: 2px solid #FF900E;
    background-color: #ff8f0e80;
    cursor: pointer;

}

#award .award-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#award .award-item img{
    transform: scale(1);
    transition: .4s;
}
#award .award-item:hover img{
    transform: scale(1.3) rotateY(190deg);
}



#award .award-item h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    transition: .4s;
    padding-top: 10px;
    padding-bottom: 5px;
}

#award .award-item:hover h1{
    color: #fff;
}

#award .award-item p{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    transition: .4s;
 
    
}

#award .award-item:hover p{
    color: #fff;
}

/* ======================================================== mobile device ========================================= */
@media only screen  and (max-width:688px){

    #award .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
        gap: 20px;
        width: 100%;
       
    }

    #award .award-item{
        width: 100%;
    }


    
}
/* ======================================================== mobile device ========================================= */

/* ======================================================== tablet device ========================================= */
@media only screen and (min-width:689px) and (max-width:992px) {

    #award .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px;
        width: 100%;
     
       
    }

    #award .award-item{
        width: 100%;
    }



    
}
/* ======================================================== tablet device ========================================= */


/* =============================================================
                award part end
================================================================ */